.header-left
  .header-left__logo
    名前
  .header-left__logo2
  = fa_icon 'cog', class: "contents__btn--icon"
  .header-left__logo3
  = fa_icon 'edit', class: "contents__btn--ico"
.header-right
  .header-right__logo
    .header-right__logo0
      LINEグループ
      .header-right__logo2
        キングコング
    .header-right__logo1
      Edit
.contents
  .contents0
    .left-content
      横浜優勝
      .left-content1
        オンラインサロン
.contents-main
  .main0
    .main1
      ユーザー名前
      .main2
        こんにちは
      .main4
      円高
      .main5
      米中対立
    .main3
      .main3x
        日付
  .footer-main
    .footer
      .footer1
        テキスト
        .footer2
          = fa_icon 'image', class: "contents__btn--i"
    .footer3
      .footer4
        send 
